# Ambiente virtual e cache Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/

# Arquivos de dados e credenciais
duckdb.db
duckdb.db.wal
.env
credentials.json

# Arquivos de controle de versão e sistema
.git/
.github/
.gitignore

# Arquivos de log
*.log

# Arquivos de desenvolvimento
.vscode/
.idea/

# Outros
Dockerfile
docker-compose.yml
.dockerignore
README.md